<nav>
  <a routerLink="/" class="btn btn-outline-primary">
    Home
  </a>
  <a routerLink="/database" class="btn btn-outline-primary">
    Database
  </a>
  <a routerLink="/addcategory" class="btn btn-outline-primary">
    Add Category
  </a>
  <a routerLink="/additem" class="btn btn-outline-primary">
    Add Item
  </a>
  <a routerLink="/listcategories" class="btn btn-outline-primary">
    List Categories
  </a>
  <a routerLink="/listitems" class="btn btn-outline-primary">
    List Items
  </a>
  <a routerLink="/stats" class="btn btn-outline-primary">
    Statistics
  </a>
</nav>
<section>

  <router-outlet></router-outlet>

</section>