<header>
    <h1>{{ action }} Category</h1>
  </header>
  <div class="category-form">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    >
    <ul>
      <li>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" formControlName="name">
      </li>
      <li>
        <label for="priority">Priority</label>
        <select name="priority" id="priority" formControlName="priority">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </li>
    </ul>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>